# Draft - probando datetime

In [1]:
import pandas as pd
import datetime
import numpy as np

In [2]:
Rawdata_events = pd.read_csv("Downloads/events_log.csv/Rawdata_events_log.csv", dtype= {'timestamp':'string'})

In [3]:
Rawdata_events.columns

Index(['uuid', 'timestamp', 'session_id', 'group', 'action', 'checkin',
       'page_id', 'n_results', 'result_position'],
      dtype='object')

In [4]:
Rawdata_events.head(5)

,uuid,timestamp,session_id,group,action,checkin,page_id,n_results,result_position
0,00000736167c507e8ec225bd9e71f9e5,20160301103842,78245c2c3fba013a,b,searchResultPage,NaN,cbeb66d1bc1f1bc2,5.0,NaN
1,00000c69fe345268935463abbfa5d5b3,20160307005226,c559c3be98dca8a4,a,searchResultPage,NaN,eb658e8722aad674,10.0,NaN
2,00003bfdab715ee59077a3670331b787,20160302145305,760bf89817ce4b08,a,checkin,30.0,f99a9fc1f7fdd21e,NaN,NaN
3,0000465cd7c35ad2bdeafec953e08c1a,20160302222701,fb905603d31b2071,a,checkin,60.0,e5626962a6939a75,NaN,10.0
4,000050cbb4ef5b42b16c4d2cf69e6358,20160302095023,c2bf5e5172a892dc,a,checkin,30.0,787dd6a4c371cbf9,NaN,NaN

In [5]:
Rawdata_events['year']=Rawdata_events.timestamp.str[:4]
Rawdata_events['month']=Rawdata_events.timestamp.str[4:6]
Rawdata_events['day']=Rawdata_events.timestamp.str[6:8]
Rawdata_events['hour']=Rawdata_events.timestamp.str[8:10]
Rawdata_events['minute']=Rawdata_events.timestamp.str[10:12]
Rawdata_events['second']=Rawdata_events.timestamp.str[12:14]
Rawdata_events.dtypes
%time

Wall time: 0 ns

In [6]:
Rawdata_events['Date']=pd.to_datetime(Rawdata_events[['year','month','day']],errors='coerce')

In [7]:
Rawdata_events['Timestamp']=pd.to_datetime(Rawdata_events[['year','month','day','hour','minute','second']],errors='coerce')

In [8]:
Rawdata_events.dtypes

uuid                       object
timestamp                  string
session_id                 object
group                      object
action                     object
checkin                   float64
page_id                    object
n_results                 float64
result_position           float64
year                       string
month                      string
day                        string
hour                       string
minute                     string
second                     string
Date               datetime64[ns]
Timestamp          datetime64[ns]
dtype: object

In [9]:
df1 = (Rawdata_events.groupby('Date')
         .describe()
         .unstack()
         .unstack(1)
         .reindex(Rawdata_events.columns[1:], level=0))
print(df1)

                              count       mean         std   min   25%   50%  \
                Date
checkin         2016-03-01  34296.0  95.328901  103.674928  10.0  20.0  50.0
                2016-03-02  34728.0  95.542214  103.789792  10.0  20.0  50.0
                2016-03-03  34910.0  95.646520  103.869581  10.0  20.0  50.0
                2016-03-04  24777.0  98.405780  105.393467  10.0  20.0  50.0
                2016-03-05  19715.0  98.630992  105.349640  10.0  20.0  50.0
                2016-03-06  22829.0  97.668317  104.281774  10.0  20.0  50.0
                2016-03-07  28832.0  99.327830  105.644548  10.0  20.0  50.0
                2016-03-08  23734.0  99.022921  105.573186  10.0  20.0  50.0
n_results       2016-03-01  18374.0  13.205399   12.126842   0.0   2.0  20.0
                2016-03-02  18902.0  12.996244   15.911570   0.0   1.0  20.0
                2016-03-03  19159.0  13.313586   13.246304   0.0   2.0  20.0
                2016-03-04  16674.0  13.602075   14.074965   0.0   2.0  20.0
                2016-03-05  13204.0  12.973947   11.110303   0.0   2.0  20.0
                2016-03-06  14612.0  13.342869   14.191158   0.0   2.0  20.0
                2016-03-07  19011.0  13.179422   11.703646   0.0   2.0  20.0
                2016-03-08  16297.0  13.048475   12.777542   0.0   2.0  20.0
result_position 2016-03-01  28980.0   5.075569  104.904424   1.0   1.0   1.0
                2016-03-02  29777.0   2.415824    7.964362   1.0   1.0   1.0
                2016-03-03  31662.0   2.537711    5.884420   1.0   1.0   1.0
                2016-03-04  29067.0   3.770874   23.216219   1.0   1.0   1.0
                2016-03-05  23037.0   2.280896    3.266491   1.0   1.0   1.0
                2016-03-06  26579.0   2.465744    8.074749   1.0   1.0   1.0
                2016-03-07  33546.0   2.691200    7.353231   1.0   1.0   1.0
                2016-03-08  27832.0   2.602759    6.303517   1.0   1.0   1.0

                              75%     max
                Date
checkin         2016-03-01  150.0   420.0
                2016-03-02  150.0   420.0
                2016-03-03  150.0   420.0
                2016-03-04  150.0   420.0
                2016-03-05  150.0   420.0
                2016-03-06  150.0   420.0
                2016-03-07  150.0   420.0
                2016-03-08  150.0   420.0
n_results       2016-03-01   20.0   500.0
                2016-03-02   20.0   500.0
                2016-03-03   20.0   500.0
                2016-03-04   20.0   500.0
                2016-03-05   20.0   500.0
                2016-03-06   20.0   500.0
                2016-03-07   20.0   500.0
                2016-03-08   20.0   500.0
result_position 2016-03-01    2.0  4103.0
                2016-03-02    2.0   380.0
                2016-03-03    2.0   291.0
                2016-03-04    2.0   561.0
                2016-03-05    2.0    87.0
                2016-03-06    2.0  1044.0
                2016-03-07    2.0   198.0
                2016-03-08    2.0   174.0

In [10]:
Rawdata_events.loc[0,'Timestamp'].day_name()

'Tuesday'

In [11]:
#Dayofweek

In [12]:
Rawdata_events['DayofWeek']= Rawdata_events['Timestamp'].dt.day_name()

In [23]:
df4=Rawdata_events.groupby['Timestamp']

TypeError: 'method' object is not subscriptable

In [22]:
df1 = Rawdata_events.groupby('session_id')['page_id'].nunique()
df1

session_id
0000cbcb67c19c45    1
0001382e027b2ea4    2
0001e8bb90445cb2    2
000216cf18ae1ab1    6
000527f711d50dfc    1
                   ..
fffa5a2bcaf090c4    1
fffa88acebf831c8    6
fffac2c4111308d0    1
fffb978cc690214c    3
ffff9adcd8f302d6    8
Name: page_id, Length: 68028, dtype: int64

In [ ]:
df2 = Rawdata_events.groupby(by='session_id', as_index=False).agg({'uuid': pd.Series.nunique}).sort_values(by='uuid', ascending=False)

In [ ]:
df3 = Rawdata_events.groupby(by='uuid', as_index=False).agg({'session_id': pd.Series.nunique}).sort_values(by='uuid', ascending=False)

In [ ]:
print(df3)

In [ ]:
Rawdata_events['n_results'].min()
Rawdata_events['n_results'].max()

In [ ]:
filt= (Rawdata_events['n_results']> 100)

In [ ]:
n_results_100=Rawdata_events.loc[filt]

In [ ]:
n_results_100.describe

In [ ]:
pd.crosstab(n_results_100["group"],n_results_100["action"],margins=True)

In [ ]:
n_results_100.to_csv('C:\\Users\\Maria\\Desktop\\raw_data2.csv')